<div class="container-fluid">
  <div class="row">
    <div class="com-md-12">
      <h1>Single NFT</h1>
      <span>Enefti / Marketplace / Single NFT</span>
    </div>
  </div>
</div>

<section class="singlenft">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="singelnftphoto">
          <img
            src="https://html.modeltheme.com/enefti/assets/images/nfts/single_nft/single-nft-1.jpg"
            alt=""
          />
        </div>
        <div class="singeleneftibox d-flex">
          <div class="singleenefti1">
            <img
              src="https://html.modeltheme.com/enefti/assets/images/nfts/single_nft/sample-1.jpg"
              alt=""
            />
          </div>
          <div class="singleenefti1">
            <img
              src="https://html.modeltheme.com/enefti/assets/images/nfts/single_nft/sample-2.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="singleicon d-flex iconsng">
          <i class="bi bi-heart icon"> </i>
          <i class="bi bi-telegram icon"></i>
        </div>
        <div class="singletitle">
          <h1>Angelic Nyan Cat</h1>
          <span>Nyan Cat (Official) Collection</span>
          <h4>
            <img
              src="https://html.modeltheme.com/enefti/assets/images/icons_svgs/weth.svg"
              alt=""
            />
            1 WETH(£3,228.00)
          </h4>
        </div>
        <div class="singletitlesea">
          <h5>Collection</h5>
          <img
            class="smicon"
            src="https://html.modeltheme.com/enefti/assets/images/shop/nft-collection.jpg"
            alt=""
          />
          <span>Nyan Cat (Official)</span>
        </div>
        <div class="opensea">
          <a class="linksea" href="https://opensea.io/"
            >MAKE OFFER ON OPEN SEA</a
          >
          <p>SKU: 25479490</p>
          <p>Category: Nyan Cat (Official)</p>
          <p>Presale: No</p>
          <p>Sales: 99</p>
        </div>
        <div class="popeup py-4">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                Description
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >
                REviews(0)
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-contact-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false"
              >
                Traits
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <p>
                Flying out of the sun, the smell of breakfast is in the air.
                When there’s a job to be done, Angelic Nyan Cat will be there!
                And it’s Nyan! Nyan! Nyan! Now help is on the way. On breakfast
                pastry wings!
              </p>
              <h5>Owning this NFT grants the following stats:</h5>
              <h5>Safety+30</h5>
              <h5>Hope+10</h5>
              <h5>Radiance+60</h5>
            </div>
            <div
              class="tab-pane fade row"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
            >
              <span>There are no reviews yet.</span>
              <h6>Be the first to review “Angelic Nyan Cat”</h6>
              <p>
                Your email address will not be published. Required fields are
                marked *
              </p>
              <h5>Your rating</h5>
              <span><i class="bi bi-star"></i></span>
              <span><i class="bi bi-star"></i></span>
              <span><i class="bi bi-star"></i></span>
              <span><i class="bi bi-star"></i></span>
              <span><i class="bi bi-star"></i></span>

              <input
                class="emailinput"
                type="text"
                name=""
                placeholder="Your review"
              />

              <input
                type="text"
                name=""
                id=""
                placeholder="Your Name"
                required
              />
              <input
                type="email"
                name=""
                id=""
                placeholder="Your Email"
                required
              />
              <div class="ck">
                <input
                  class="chkbox"
                  type="checkbox"
                  name=""
                  id=""
                  placeholder="Your review"
                  required
                />
                <p>
                  Save my name, email, and website in this browser for the next
                  time I comment
                </p>
                <button type="button" class="btn btn-primary">SUBMIT</button>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-contact"
              role="tabpanel"
              aria-labelledby="pills-contact-tab"
            >
              <table class="table">
                <tbody>
                  <tr>
                    <th>Size</th>
                    <th>1400x1400</th>
                  </tr>
                  <tr>
                    <th>Frames</th>
                    <th>12</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row col-md-12 bottoomenefti">
    <h1>Related Products</h1>
    <div class="card shadow" style="width: 18rem" *ngFor="let item of icons">
      <img src="{{ item.imgSrc }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img
            class="pricenft"
            src="https://html.modeltheme.com/enefti/assets/images/icons_svgs/weth.svg"
            alt=""
          />{{ item.price }}ETH
        </li>
      </ul>
    </div>
  </div>
</div>
