<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Blog</h2>
      <span>Enefti / Blog</span>
    </div>

    <div
      class="col-lg-8 col-md-12 col-sm-12 col-12 shadow py-5 shadow p-3 mb-5 bg-white rounded"
    >
      <img
        class="photo"
        src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-1.jpg"
        alt=""
      />
      <div class="container">
        <div class="title">
          <h1>7 New Insights You Should Know Metaverse</h1>
          <span><i class="bi bi-person"></i> WILLI AMS </span>
          <span><i class="bi bi-tag"></i> NFT </span>
          <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>

         <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" > <button type="button" class="btn btn-outline-primary">
          Read more
        </button></a>
          <img
            class="photo"
            src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-2.jpg"
            alt=""
          />

          <h1>How To Pay For Your Bid on NFT</h1>
          <span><i class="bi bi-person"></i> WILLI AMS </span>
          <span><i class="bi bi-tag"></i> NFT </span>
          <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>
          <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-outline-primary">
            Read more
          </button></a>

          <img
            class="photo"
            src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-3.jpg"
            alt=""
          />

          <h1>Guide to creating & selling digital art NFTs</h1>
          <span><i class="bi bi-person"></i> WILLI AMS </span>
          <span><i class="bi bi-tag"></i> NFT </span>
          <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>

         <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" > <button type="button" class="btn btn-outline-primary">
          Read more
        </button></a>
          <img
            class="photo"
            src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-4.jpg"
            alt=""
          />

          <h1>How to Create your own NFT Marketplace</h1>
          <span><i class="bi bi-person"></i> WILLI AMS </span>
          <span><i class="bi bi-tag"></i> NFT </span>
          <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>

          <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-outline-primary">
            Read more
          </button></a>
          <img
            class="photo"
            src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-5.jpg"
            alt=""
          />

          <h1>Music NFT Mashup between these Artists</h1>
          <span><i class="bi bi-person"></i> WILLI AMS </span>
          <span><i class="bi bi-tag"></i> NFT </span>
          <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>

          <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-outline-primary">
            Read more
          </button></a>
          <img
            class="photo"
            src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-6.jpg"
            alt=""
          />

          <h1>Turning virtual games Into Real Life</h1>
          <span><i class="bi bi-person"></i> WILLI AMS </span>
          <span><i class="bi bi-tag"></i> NFT </span>
          <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>

          <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-outline-primary">
            Read more
          </button></a>
          <img
            class="photo"
            src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-7.jpg"
            alt=""
          />

          <h1>Your favorite show turns into NFT დააჭირე</h1>
          <span>icon </span> <span>icon </span> <span>icon </span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>

          <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-outline-primary">
            Read more
          </button></a>

          <a
            href=""
            [routerLink]="['/aboutus']"
            routerLinkActive="router-link-active"
          >
            <img
              class="photo"
              src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-8.jpg"
              alt=""
            />
          </a>

          <h1>NFT Art Exists in the Digital World Collector</h1>
          <span><i class="bi bi-person"></i> WILLI AMS </span>
          <span><i class="bi bi-tag"></i> NFT </span>
          <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>

          <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-outline-primary">
            Read more
          </button></a>
          <img
            class="photo"
            src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-9.jpg"
            alt=""
          />

          <h1>The good, the bad and the ugly about tokens</h1>
          <span><i class="bi bi-person"></i> WILLI AMS </span>
          <span><i class="bi bi-tag"></i> NFT </span>
          <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>

          <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-outline-primary">
            Read more
          </button></a>

          <img
            class="photo"
            src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-10.jpg"
            alt=""
          />

          <h1>A Crypto Expert Responds to a Viral Takedown On NFT</h1>
          <span><i class="bi bi-person"></i> WILLI AMS </span>
          <span><i class="bi bi-tag"></i> NFT </span>
          <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
          <p>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day, going forward, a new normal that
            has evolved from generation X is on the runway heading towards a
            streamlined cloud solution.
          </p>

         <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" > <button type="button" class="btn btn-outline-primary">
          Read more
        </button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="eneftisearch">
        <h2>Search</h2>
        <form action="">
          <input
            class="inputxt"
            type="text"
            name=""
            id=""
            placeholder="Search..."
          />
        </form>
      </div>
      <div class="aside">
        <h2>Categories</h2>
        <ul class="ullist">
          <li>COLLECTORS</li>
          <li>GUEST POSTS</li>
          <li>MARKETPLACE</li>
          <li>NFT</li>
          <li>TUTORIALS</li>
        </ul>
      </div>
      <div class="eneftiposts">
        <h3>Recent Posts</h3>

        <ul class="ulposts">
          <li class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
            <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" >  <img
              class="postimg"
              src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-1.jpg"
              alt=""
            /></a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-10">
              <h6 class="htitle">How To Pay For Your Bid on NFT</h6>
              <p class="ptitle">JANUARY 27, 2022</p>
            </div>
          </li>
          <li class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
            <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" >  <img
              class="postimg"
              src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-3.jpg"
              alt=""
            /></a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-10">
              <h6 class="htitle">Guide to creating & selling digital art</h6>
              <p class="ptitle">JANUARY 27, 2022</p>
            </div>
          </li>
          <li class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
             <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" > <img
              class="postimg"
              src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-4.jpg"
              alt=""
            /></a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-10">
              <h6 class="htitle">How to Create your own NFT</h6>
              <p class="ptitle">JANUARY 27, 2022</p>
            </div>
          </li>
          <li class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
              <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" ><img
                class="postimg"
                src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-1.jpg"
                alt=""
              /></a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-10">
              <h6 class="htitle">Music NFT Mashup between these</h6>
              <p class="ptitle">JANUARY 27, 2022</p>
            </div>
          </li>
          <li class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
            <a [routerLink]="['/Singlepost']" routerLinkActive="router-link-active" >  <img
              class="postimg"
              src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-5.jpg"
              alt=""
            /></a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-10">
              <h6 class="htitle">Turning virtual games Into Real Life</h6>
              <p class="ptitle">JANUARY 27, 2022</p>
            </div>
          </li>
        </ul>
        <div class="meta">
          <h2>Meta</h2>
          <ul class="ullist">
            <a [routerLink]="['/CreateNfts']" routerLinkActive="router-link-active" ><li>LOG IN</li></a>
            <a [routerLink]="['/Blog']" routerLinkActive="router-link-active" ><li>ENTRIES FEED</li></a>
            <a [routerLink]="['/Blog']" routerLinkActive="router-link-active" ><li>COMMENTS FEED</li></a>
            <a [routerLink]="['/Blog']" routerLinkActive="router-link-active" ><li>NFT</li></a>
            <a [routerLink]="['/Blog']" routerLinkActive="router-link-active" ><li>WORDPRESS.ORG</li></a>
          </ul>
        </div>
        <div class="posttags">
          <h2>Post tags</h2>
          <div class="post">
            <a href="">BITCOIN</a>
            <a href="">BLOCKCHAIN</a>
            <a href="">CRYPTO</a>
            <a href="">ETHERUM</a>
            <a href="">EXCHANGE</a>
            <a href="">FINANCE</a>
            <a href="">INVEST</a>
            <a href="">METAVERSE</a>
            <a href="">SECURITY</a>
            <a href="">TOKENS</a>
            <a href="">TRADING</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
