<!-- Footer -->
<footer class="bg-black text-start text-white ">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-3">
        <img class="photo py-2 p-2 " src="https://html.modeltheme.com/enefti/assets/images/logos/carousel_logos/cl-1.jpg" alt="">
       
  
        <!-- Twitter -->
        <img class="photo py-2 p-2 " src="https://html.modeltheme.com/enefti/assets/images/logos/carousel_logos/cl-2.jpg" alt="">
   
  
        <!-- Google -->
        <img class="photo py-2 p-2 " src="https://html.modeltheme.com/enefti/assets/images/logos/carousel_logos/cl-3.jpg" alt="">
  
        <!-- Instagram -->
       <img class="photo py-2 p-2 " src="https://html.modeltheme.com/enefti/assets/images/logos/carousel_logos/cl-4.jpg" alt="">
  
        <!-- Linkedin -->
        <img class="photo py-2 p-2 " src="https://html.modeltheme.com/enefti/assets/images/logos/carousel_logos/cl-5.jpg" alt="">
  
        <!-- Github -->
       <img class="photo py-2 p-2 " src="https://html.modeltheme.com/enefti/assets/images/logos/carousel_logos/cl-1.jpg" alt="">
      </section>
      
      <section class="">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Our Adress</h5>
                <p>4 Grand Central Terminal New York, NY 10 City name, CA 90896 USA. contact@example.com</p>
                <span class="p-3"><i class="bi bi-facebook"></i></span>
                <span class="p-3"><i class="bi bi-twitter"></i></span>
                <span class="p-3"><i class="bi bi-linkedin"></i></span>
                <span class="p-3"><i class="bi bi-instagram"></i></span>
              </div>
         
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Useful Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Collectibles</a>
              </li>
              <li>
                <a href="#!" class="text-white">Photography</a>
              </li>
              <li>
                <a href="#!" class="text-white">Traiding Cards</a>
              </li>
              <li>
                <a href="#!" class="text-white">Virtual Worlds</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Our Policy</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Help Center</a>
              </li>
              <li>
                <a href="#!" class="text-white">My Collections</a>
              </li>
              <li>
                <a href="#!" class="text-white">Platfrom Status</a>
              </li>
              <li>
                <a href="#!" class="text-white">Newslatter</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
        
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Stay informed By Newslatter</h5>
            <p>*Subscribe to our newsletter to receive early discount offers and updates.</p>
            
             <input type="search" name="" id=""  placeholder="Enter your name" >
  
            
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);" >
        Copyright by ModelTheme. All Rights Reserved.
      
    </div>
   
  </footer>

