<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group5/gr5-nft1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group2/gr2-nft3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group2/gr2-nft2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group2/gr2-nft3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-12">
              <span>FoxFam</span>
              <span>18 items</span>

          </div>
           
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group1/gr1-nft4.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group1/gr1-nft3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group2/gr2-nft1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group2/gr2-nft3.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>FoxFam</span>
                <span>18 items</span>

            </div>

            </div>
           
          </div>
        </div>
      </div>
      <div class="swiper-slide">

        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group3/gr3-nft1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group3/gr3-nft2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group3/gr3-nft3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group3/gr3-nft4.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 ">
                <span>FoxFam</span>
                <span>18 items</span>
            </div>

            </div>
           
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group4/gr4-nft1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group4/gr4-nft2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group4/gr4-nft3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group4/gr4-nft4.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>FoxFam</span>
                <span>18 items</span>

            </div>

            </div>
           
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group5/gr5-nft1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group5/gr5-nft2.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group5/gr5-nft3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group5/gr5-nft3.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>FoxFam</span>
                <span>18 items</span>

            </div>

            </div>
           
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group1/gr1-nft4.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group1/gr1-nft3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group2/gr2-nft1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group2/gr2-nft3.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>FoxFam</span>
                <span>18 items</span>

            </div>

            </div>
           
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group1/gr1-nft4.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group1/gr1-nft3.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group2/gr2-nft1.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <img src="https://html.modeltheme.com/enefti/assets/images/nfts/swiper/group2/gr2-nft3.jpg" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span>FoxFam</span>
                <span>18 items</span>

            </div>

            </div>
           
          </div>
        </div>
      </div>
      
    </div>
    <div class="swiper-pagination">sdsdsds</div>
  </div>