<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <H1>7 New Insights You Should Know Metaverse</H1>
            <p>Enefti / Blog / 7 New Insights You Should Know Metaverse</p>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12 col-12 shadow">
            <div class="container">
                <img src="https://html.modeltheme.com/enefti/assets/images/blogs/blog_list/blog-post-img-1.jpg" alt="">
                <div class="title">
                    <span><i class="bi bi-person"></i> WILLI AMS </span> <span><i class="bi bi-tag"></i> NFT </span> <span><i class="bi bi-calendar"></i> JANUARY 27, 2022</span>
                    <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.</p>
                    <p>When a cat is frightened, its pupils grow bigger. This is to allow the cat to absorb as much information as possible. When the cat is angry or aroused, its pupils narrow in order to enable it to zoom in on tiny details. Do note, however, that since cats? pupils also change size according to the light, you should pay attention to its body language when trying to figure out how it is feeling.</p>
                    <p class="ptext">OCCASIONALLY, YOU MIGHT HEAR YOUR OWN CAT USING THIS SOUND ON YOU WHEN TRYING TO GET YOU TO TOP UP HER FEEDING BOWL.</p>
                    <p>Mewing isn’t the only sounds cats make. Mother cats are often heard making a chirping noise when they are with their kittens. This is their way of getting the attention of their kittens and communicating with them. Occasionally, you might hear your own cat using this sound on you when trying to get you to top up her feeding bowl.</p>
                    <ul>
                        <li>Occasionally, you might hear your own cat using this sound.</li>
                        <li>Mewing isn’t the only sounds cats make.</li>
                        <li>When a cat is frightened, its pupils grow bigger.</li>
                        <li>If you hear a cat hissing, spitting or growling, stay away.</li>
                    </ul>
                    <p>If you hear a cat hissing, spitting or growling, stay away, as that indicates it is frightened or angry and might react in an aggressive manner if you get too close.</p>

                </div>
                <div class="singleposttags">
                    <span>Tags:</span>
                    <a href="">Blockchain,</a>
                    <a href="">Finance,</a>
                    <a href="">Security</a>
                </div>
            </div>
            <div class="comment">
                <h3>One Reply to “7 New Insights You Should Know Metaverse”</h3>
                <div class="mainadmin">
                    <div class="admin">
                        <img src="https://html.modeltheme.com/enefti/assets/images/blogs/reviewer.jpg" alt=""> 
                        <span class="p-3">Admin</span>
                    </div>
                        <div class="admintitle">
                            (February 17, 2022 at 12:12 pm)
                        </div>
                </div>
                <div class="text">
                    <p>If you hear a cat hissing, spitting or growling, stay away, as that indicates it is frightened or angry and might react in an aggressive manner if you get too close.</p>
                </div>
            </div>
            <div class="comment">
                <h3>Leave Comment</h3>
                   <textarea class="textarea" name="" id=""  rows="5" placeholder="Your message"></textarea>
            </div>
            <div class="comm d-flex">
                <input type="text" name="" id="" placeholder="Enter Your Name">
                <input type="email" name="" id="" placeholder="Enter Your Email">

                
                
            </div>
            <div class="button p-4">
                <button>ADD COMMENT</button>
            </div>
        </div>

        <div class="col-lg-4">
                <div class="eneftisearch">
                    <h2>Search</h2>
                    <form action="">
                        <input class="inputxt" type="text" name="" id="" placeholder="Search...">
                    </form>
                </div>
                <div class="aside">
                    <h2>Categories</h2>
                    <ul class="ullist">
                        <a [routerLink]="['/Blog']" routerLinkActive="router-link-active" ><li>COLLECTORS</li></a>

                        <a [routerLink]="['/Blog']" routerLinkActive="router-link-active" ><li>GUEST POSTS</li></a>
                        <a [routerLink]="['/shop']" routerLinkActive="router-link-active" ><li>MARKET PLACE</li></a>
                        <a [routerLink]="['/shop']" routerLinkActive="router-link-active" ><li>NFT</li></a>
                        <li>TUTORIALS</li>
                    </ul>
                </div>
                <div class="eneftiposts">
                    <h3>Recent Posts</h3>

                    <ul class="ulposts">
                        <li class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                <img class="postimg" src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-1.jpg" alt="">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-10 ">
                                <h6 class="htitle" >How To Pay For Your Bid on NFT</h6>
                                <p class="ptitle">JANUARY 27, 2022</p>
                               
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                <img class="postimg" src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-3.jpg" alt="">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-10 ">
                                <h6 class="htitle" >Guide to creating & selling digital art</h6>
                                <p class="ptitle">JANUARY 27, 2022</p>
                               
                            </div>


                        </li>
                        <li class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                <img class="postimg" src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-4.jpg" alt="">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-10 ">
                                <h6 class="htitle" >How to Create your own NFT</h6>
                                <p class="ptitle">JANUARY 27, 2022</p>
                               
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                <img class="postimg" src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-1.jpg" alt="">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-10 ">
                                <h6 class="htitle" >Music NFT Mashup between these</h6>
                                <p class="ptitle">JANUARY 27, 2022</p>
                               
                            </div>
                        </li>
                        <li class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                                <img class="postimg" src="https://html.modeltheme.com/enefti/assets/images/blogs/single_post/blog-img-5.jpg" alt="">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-10 ">
                                <h6 class="htitle" >Turning virtual games Into Real Life</h6>
                                <p class="ptitle">JANUARY 27, 2022</p>
                               
                            </div>
                        </li>
                    </ul>
                    <div class="meta">
                        <h2>Meta</h2>
                    <ul class="ullist">
                        <li>LOG IN</li>
                        <li>ENTRIES FEED</li>
                        <li>COMMENTS FEED</li>
                        <li>NFT</li>
                        <li>WORDPRESS.ORG</li>
                    </ul>
                    </div>
                    <div class="posttags">
                        <h2>Post tags</h2>
                        <div class="post">
                            <a href="">BITCOIN</a> 
                            <a href="">BLOCKCHAIN</a>
                            <a href="">CRYPTO</a>
                            <a href="">ETHERUM</a> 
                            <a href="">EXCHANGE</a>
                            <a href="">FINANCE</a>
                            <a href="">INVEST</a> 
                            <a href="">METAVERSE</a>
                            <a href="">SECURITY</a>
                            <a href="">TOKENS</a>
                            <a href="">TRADING</a>

                        </div>
                    </div>

                    
                </div>
                 
            </div>
        
    </div>
</div>