<div class="container-fluid">
  <h1>Contact</h1>
  <span>Enefti / Contact</span>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7 d-flex">
      <div class="col-4">
        <div class="icon">
          <i class="bi bi-phone-fill" id="biicon"></i>
        </div>
        <div class="icontext">
          <p class="ptext">Phone Number</p>
          <span class="spantext"> +0093 300 4598 20032</span>
        </div>
      </div>
      <div class="col-4">
        <div class="icon">
          <i class="bi bi-envelope-fill" id="biicon"></i>
        </div>
        <div class="icontext">
          <p class="ptext">Email Address</p>
          <span class="spantext">Sales@example.com</span>
        </div>
      </div>
      <div class="col-4">
        <div class="icon">
          <i class="bi bi-search" id="biicon"></i>
        </div>
        <div class="icontext">
          <p class="ptext">Our Location</p>
          <span class="spantext">New York 1920</span>
        </div>
      </div>
    </div>
    <div class="mainimg">
      <img
        src="https://html.modeltheme.com/enefti/assets/images/contact/Contact-img.jpg"
        alt=""
      />
    </div>
  </div>
</div>
