<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="row my-5">
        <p class="ptext">
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day, going forward, a new normal that
          has evolved from generation X is on the runway heading towards a
          streamlined cloud solution. User generated content in real-time will
          have multiple touchpoints.
        </p>
        <div class="imgslider d-flex">
          <img
            src="https://html.modeltheme.com/enefti/assets/images/testimonials/testimonial_pic1.jpg"
            alt=""
          />
          <div class="position">
            <h4 class="">James Oliver</h4>
            <p>Product Manager</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="row my-5">
        <p class="ptext">
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day, going forward, a new normal that
          has evolved from generation X is on the runway heading towards a
          streamlined cloud solution. User generated content in real-time will
          have multiple touchpoints.
        </p>
        <div class="imgslider d-flex">
          <img
            src="https://html.modeltheme.com/enefti/assets/images/testimonials/testimonial_pic3.jpg"
            alt=""
          />
          <div class="position">
            <h4 class="">Laura Adams</h4>
            <p>Director</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="row my-5">
        <p class="ptext">
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day, going forward, a new normal that
          has evolved from generation X is on the runway heading towards a
          streamlined cloud solution. User generated content in real-time will
          have multiple touchpoints.
        </p>
        <div class="imgslider d-flex">
          <img
            src="https://html.modeltheme.com/enefti/assets/images/testimonials/testimonial_pic2.jpg"
            alt=""
          />
          <div class="position">
            <h4 class="">Trend Doe</h4>
            <p>Digital Marketing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
